<div class="app-container">
  <mat-toolbar color="primary">
    <span>OLMP - Simplex</span>
  </mat-toolbar>

  <div class="wrapper">
    <mat-card class="card">
      <mat-card-header>
        <div class="header">
          <span>x</span>
          <span>y</span>
          <span>A</span>
          <span>B</span>
          <span>C</span>
          <span>Rs</span>
        </div></mat-card-header
      >
      <mat-card-content>
        <div class="labels">
          <span>A</span>
          <span>B</span>
          <span>C</span>
          <span>Z</span>
        </div>
        <!-- TO-DO VALIDAR O TIPO DO FORMS DE ACORDO COM O SIMPLEX-->
        <form [formGroup]="simplexMaxForm">
          <div class="row">
            <mat-form-field class="cell" appearance="fill">
              <mat-label>Ax</mat-label>
              <input matInput formControlName="Ax" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>Ay</mat-label>
              <input matInput formControlName="Ay" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>AA</mat-label>
              <input matInput formControlName="AA" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>AB</mat-label>
              <input matInput formControlName="AB" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>AC</mat-label>
              <input matInput formControlName="AC" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>ARs</mat-label>
              <input matInput formControlName="ARs" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="cell" appearance="fill">
              <mat-label>Bx</mat-label>
              <input matInput formControlName="Bx" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>By</mat-label>
              <input matInput formControlName="By" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>BA</mat-label>
              <input matInput formControlName="BA" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>BB</mat-label>
              <input matInput formControlName="BB" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>BC</mat-label>
              <input matInput formControlName="BC" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>BRs</mat-label>
              <input matInput formControlName="BRs" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="cell" appearance="fill">
              <mat-label>Cx</mat-label>
              <input matInput formControlName="Cx" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>Cy</mat-label>
              <input matInput formControlName="Cy" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>CA</mat-label>
              <input matInput formControlName="CA" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>CB</mat-label>
              <input matInput formControlName="CB" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>CC</mat-label>
              <input matInput formControlName="CC" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>CRs</mat-label>
              <input matInput formControlName="CRs" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="cell" appearance="fill">
              <mat-label>Zx</mat-label>
              <input matInput formControlName="Zx" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>Zy</mat-label>
              <input matInput formControlName="Zy" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>ZA</mat-label>
              <input matInput formControlName="ZA" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>ZB</mat-label>
              <input matInput formControlName="ZB" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>ZC</mat-label>
              <input matInput formControlName="ZC" />
            </mat-form-field>
            <mat-form-field class="cell" appearance="fill">
              <mat-label>ZRs</mat-label>
              <input matInput formControlName="ZRs" type="number" />
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="calcular()">
          Calcular
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
